{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>SHOW Employee Details</title>
{% endblock %}

{% block content %}
{% load static %}

<table class="table table-dark">
    <thead class="table-danger">
      <tr>
        <th scope="col">EMPLOYEE NAME</th>
        <th scope="col">PROFILE</th>
        <th scope="col">SALARY</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PICTURE</th>
        <th scope="col">RESUME</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
        <th scope="col">PDF</th>
       
        
       
      </tr>
    </thead>
    <tbody>
    {% for i in obj %}
      <tr>
        <td>{{i.emp_name}}</td>
        <td>{{i.profile}}</td>
        <td>{{i.salary}}</td>
        <td>{{i.email}}</td>
        <td><img src="{{i.picture.url}}" alt="image" width="150" height="150"></td>
        <td><a href="{{i.resume.url}}">click here</a></td>
        
        <td><button class="btn btn-warning"><a href="{% url 'update_url' i.id %}">UPDATE</a></button></td>
        <td><button class="btn btn-danger"><a href="{% url 'delete_url' i.id %}">DELETE</a></button></td>
        <td><button><a  href="#">PDF Generate</a></button></td>
      </tr>
      
      {% endfor %}
    </tbody>
</table>



</body>
     

{% endblock %}